.icon-sb-a01 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -10px;
}

.icon-sb-a02 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -10px;
}

.icon-sb-a03 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -542px;
}

.icon-sb-a04 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -542px;
}

.icon-sb-a05 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -10px;
}

.icon-sb-a06 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -542px;
}

.icon-sb-a07 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -1074px;
}

.icon-sb-a08 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -1074px;
}

.icon-sb-a09 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -1074px;
}

.icon-sb-a10 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -10px;
}

.icon-sb-a11 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -542px;
}

.icon-sb-a12 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -1074px;
}

.icon-sb-a13 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -1606px;
}

.icon-sb-a14 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -1606px;
}

.icon-sb-a15 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -1606px;
}

.icon-sb-a16 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -1606px;
}

.icon-sb-a17 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -10px;
}

.icon-sb-a18 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -542px;
}

.icon-sb-a19 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -1074px;
}

.icon-sb-a20 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -1606px;
}

.icon-sb-a22 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -2138px;
}

.icon-sb-a23 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -2138px;
}

.icon-sb-a21 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -2138px;
}

.icon-sb-a24 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -2138px;
}

.icon-sb-a25 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -2138px;
}

.icon-sb-a26 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -10px;
}

.icon-sb-a27 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -542px;
}

.icon-sb-a28 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -1074px;
}

.icon-sb-a29 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -1606px;
}

.icon-sb-a30 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -2138px;
}

.icon-sb-a31 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -2670px;
}

.icon-sb-a32 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -2670px;
}

.icon-sb-a33 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -2670px;
}

.icon-sb-a34 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -2670px;
}

.icon-sb-a35 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -2670px;
}

.icon-sb-a36 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -2670px;
}

.icon-sb-a37 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -10px;
}

.icon-sb-a38 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -542px;
}

.icon-sb-a39 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -1074px;
}

.icon-sb-a40 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -1606px;
}

.icon-sb-a41 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -2138px;
}

.icon-sb-a42 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -2670px;
}

.icon-sb-a43 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -10px -3202px;
}

.icon-sb-a44 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -542px -3202px;
}

.icon-sb-a45 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1074px -3202px;
}

.icon-sb-a46 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -1606px -3202px;
}

.icon-sb-a47 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2138px -3202px;
}

.icon-sb-a48 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -2670px -3202px;
}

.icon-sb-a49 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3202px -3202px;
}

.icon-sb-a50 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3734px -10px;
}

.icon-sb-a51 {
  width: 512px;
  height: 512px;
  background: url('icon_animal.png') -3734px -542px;
}

.icon-sb-a52 {
  width: 106px;
  height: 107px;
  background: url('icon_animal.png') -3860px -1074px;
}

.icon-sb-a54 {
  width: 98px;
  height: 102px;
  background: url('icon_animal.png') -3986px -1074px;
}

.icon-sb-a53 {
  width: 106px;
  height: 112px;
  background: url('icon_animal.png') -3734px -1074px;
}

.icon-sb-n01 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -10px -10px;
}

.icon-sb-n02 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -542px -542px;
}

.icon-sb-n03 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -10px -542px;
}

.icon-sb-n04 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -542px -10px;
}

.icon-sb-n05 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -1074px -542px;
}

.icon-sb-n06 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -10px -1074px;
}

.icon-sb-n07 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -1074px -1074px;
}

.icon-sb-n08 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -542px -1074px;
}

.icon-sb-n09 {
  width: 512px;
  height: 512px;
  background: url('icon_number.png') -1074px -10px;
}

.icon-sb-aa {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -10px -10px;
}

.icon-sb-bb {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -542px -10px;
}

.icon-sb-cc {
  width: 442px;
  height: 512px;
  background: url('icon_alphabet.png') -2138px -542px;
}

.icon-sb-dd {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -10px -542px;
}

.icon-sb-ee {
  width: 436px;
  height: 512px;
  background: url('icon_alphabet.png') -2610px -10px;
}

.icon-sb-ff {
  width: 328px;
  height: 512px;
  background: url('icon_alphabet.png') -1264px -2138px;
}

.icon-sb-gg {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -542px -542px;
}

.icon-sb-hh {
  width: 454px;
  height: 512px;
  background: url('icon_alphabet.png') -10px -1606px;
}


.icon-sb-ii {
  width: 400px;
  height: 512px;
  background: url('icon_alphabet.png') -434px -2138px;
}

.icon-sb-jj {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -1074px -10px;
}

.icon-sb-kk {
  width: 404px;
  height: 512px;
  background: url('icon_alphabet.png') -10px -2138px;
}

.icon-sb-ll {
  width: 442px;
  height: 512px;
  background: url('icon_alphabet.png') -2138px -1074px;
}

.icon-sb-mm {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -1074px -542px;
}


.icon-sb-nn {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -542px -1074px;
}

.icon-sb-oo {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -10px -1074px;
}

.icon-sb-pp {
  width: 462px;
  height: 512px;
  background: url('icon_alphabet.png') -1606px -1074px;
}

.icon-sb-qq {
  width: 430px;
  height: 512px;
  background: url('icon_alphabet.png') -2610px -542px;
}

.icon-sb-rr {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -1074px -1074px;
}

.icon-sb-ss {
  width: 428px;
  height: 512px;
  background: url('icon_alphabet.png') -2610px -1074px;
}

.icon-sb-tt {
  width: 426px;
  height: 512px;
  background: url('icon_alphabet.png') -2610px -1606px;
}

.icon-sb-uu {
  width: 466px;
  height: 512px;
  background: url('icon_alphabet.png') -1606px -542px;
}

.icon-sb-vv {
  width: 512px;
  height: 512px;
  background: url('icon_alphabet.png') -1606px -10px;
}

.icon-sb-ww {
  width: 512px;
  height: 454px;
  background: url('icon_alphabet.png') -484px -1606px;
}

.icon-sb-xx {
  width: 440px;
  height: 512px;
  background: url('icon_alphabet.png') -2138px -1606px;
}

.icon-sb-yy {
  width: 452px;
  height: 512px;
  background: url('icon_alphabet.png') -2138px -10px;
}

.icon-sb-zz {
  width: 390px;
  height: 512px;
  background: url('icon_alphabet.png') -854px -2138px;
}
